input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.container {
	width: 700px;
	margin: 50px auto;
	border: 1px solid #999;
}

.search {
	padding: 40px 10px 30px 20px;
}

input#query {
	line-height: 20px;
	padding-left: 6px;
	width: 150px;
}

.search-btn {
	line-height: 19px;
	vertical-align: top;
	width: 75px;
	border-radius: 4px;
	border: 1px solid #aaa;
	background-color: #efefef;
	cursor: pointer;
}

#results-section {
	padding: 10px;
	border-top: 1px solid #999;
	height: 520px;
}

.total-pagination-row {
	margin-bottom: 10px;
}

.total-pagination-row > * {
	display: inline-block;
}

#total-results {
	width: 120px;
}

.pagination {
	width: 554px;
	text-align: right;
}

.pagination > * {
	display: inline-block;
}

.pagination #left-arrow,
.pagination #right-arrow {
	height: 0;
	width: 0;
	border: 6px solid transparent;
	cursor: pointer;
}

.pagination #left-arrow {
	border-right: 10px solid black;
}

.pagination #right-arrow {
	border-left: 10px solid black;
}

.pagination #page-num {
	width: 50px;
	text-align: center;
}

#results {
	padding: 10px;
}

#results .image,
#results .details {
	display: inline-block;
}

#results .image {
	width: 80px;
	height: 45px;
	vertical-align: top;
	margin-top: 10px;
	border: 1px solid black;
}

#results .result {
	padding: 10px 0;
	border-top: 1px solid #ccc;
}

#results .result:first-child {
	border-top: none;
}

#results .result .details {
	width: 550px;
	margin-left: 20px;
}

#results .result .details .stream-name {
	font-size: 24px;
	font-weight: bold;
}

#loading-spinner {
	background: rgba(255,255,255,0.8) url('loading.gif') no-repeat center center;
	width: 700px;
	height: 520px;
	position: absolute;
	top: 150px;
}
